# Dependencies
node_modules/
.pnpm-store/

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
.next/
out/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Test / coverage
coverage/
.nyc_output/

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.tsbuildinfo
.turbo/

# Fichiers uploadés (avatars API)
apps/api/uploads/
